{% extends 'common.html' %}    <!-- 导入模板文件 -->

{% block header %}
  <div class="header">   <!-- 头部区域的导航 -->
       <table>
           <tr>
               <td><a href="/ "><img src="{{ url_for('static',filename='img/index.png')}}" height="35px" alt=""></a></td>
               <td><a href="/situationModel"><img src="{{ url_for('static',filename='img/model.png')}}" height="35px" alt=""></a></td>
               <td><a href="/situationSupervision"><img src="{{ url_for('static',filename='img/supervision.png')}}" height="35px" alt=""></a></td>
               <td><a href="/situationCalculation"><img src="{{ url_for('static',filename='img/calculation.png')}}" height="35px" alt=""></a></td>
               <td><img src="{{ url_for('static',filename='img/blank.png')}}" height="35px" alt=""></td>
               <td><a href="/login"><img src="{{ url_for('static',filename='img/login.png')}}" height="35px" alt=""></a></td>
               <td><a href="/ "><img src="{{ url_for('static',filename='img/register.png')}}" height="35px" alt=""></a></td>
           </tr>
       </table>
   </div>
{% endblock %}
